*, ::after, ::before {
  box-sizing: border-box;
  border: 0 solid #e5e7eb;
}

body {
  margin: 0;
  line-height: inherit;
}

html {
  line-height: 1.5;
  tab-size: 4;
  font-family: Pretendard,ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

.screenFull {
  height: 100%;
}

#screenFullSecond {
  min-height: 100%;
  /* display: flex; */
}

.fullLayout {
  min-height: 100vh;
  height: 100%;
  display: flex;
}

.halfScreen {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
  padding-bottom: 56px;
  align-items: center;
  width: 55%;
}

.linkLayoutBox {
  justify-content: flex-start;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.expiredLinkTool {
  align-items: center;
  flex-direction: column;
  display: flex;
  margin-top: 62px;
}

svg {
  display: block;
}

svg {
  vertical-align: middle;
}

.contentText {
  text-align: center;
  margin-top: 40px;
  font-weight: 700;
  font-size: 28px;
  line-height: 40px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

p, h1, h4 {
  margin: 0;
}

.contentNotice {
  text-align: center;
  margin-top: 16px;
  word-break: keep-all;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1e;
  fill: #1d1d1e;
}

.pwResetButton {
  margin-top: 97px;
  margin-left: 32px;
  margin-right: 32px;
}

a {
  color: inherit;
  text-decoration: inherit;
}

[type=button], [type=reset], [type=submit], button {
  /* background-color: transparent; */
  background-image: none;
}

button {
  cursor: pointer;
  text-transform: none;
  font-family: inherit;
  font-size: 100%;
  font-weight: inherit;
  line-height: inherit;
  color: inherit;
  margin: 0;
  padding: 0;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #333334;
  fill: #333334;
  background-color: #f3f3f4;
}

.passwordReset:hover {
  background-color: #000;
}

.passwordReset {
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  width: 100%;
  height: 48px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  fill: #fff;
  background-color: #1d1d1e;
}

.moveMainPage:hover {
  border-color: #f3f3f4;
  background-color: #f3f3f4;
}

.moveMainPage {
  padding-left: 19px;
  padding-right: 19px;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  min-width: 88px;
  width: 100%;
  height: 48px;
  display: flex;
  position: relative;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: #333334;
  fill: #333334;
  background-color: #fff;
}

.pwResetMainButton {
  margin-top: 12px;
}

.hiddenBlock{
  width: 45%;
  display: block;
}

.picture {
  position: relative;
  background-color: #f3f3f4;
}