html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
  color: #2f3941;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

script {
  display: none;
}

a {
  color: rgba(51, 51, 52, 1);
  text-decoration: none;
}

h1 {
  font-size: 32px;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Helvetica, Arial, sans-serif;
  margin-top: 0;
}

input:not([type="checkbox"]) {
  outline: none;
}

input {
  max-width: 100%;
  box-sizing: border-box;
  transition: border 0.12s ease-in-out;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='10' height='6' viewBox='0 0 10 6'%3E%3Cpath fill='%23CCC' d='M0 0h10L5 6 0 0z'/%3E%3C/svg%3E%0A")
    no-repeat #fff;
  background-position: right 10px center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px 30px 8px 10px;
  outline: none;
  color: #555;
  width: 100%;
}

button,
select {
  text-transform: none;
}

button,
input {
  overflow: visible;
}

input,
textarea {
  color: #000;
  font-size: 14px;
}

button,
input {
  overflow: visible;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/* header */

/* main */

@media (min-width: 1024px) {
  body > main {
    min-height: 65vh;
  }
}

main {
  display: block;
}

.containerDiv {
  border-top: 1px solid #ddd;
  margin-bottom: 20px;
}

.form {
  max-width: 650px;
}

.contentRequestField label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

.contentRequestField .input {
  border-radius: 4px;
  height: 40px;
  line-height: 40px;
  outline: none;
  vertical-align: middle;
}

.input {
  border: 1px solid #ddd;
  border-radius: 2px;
  box-shadow: none;
  padding: 0 15px 0 10px;
}

.input {
  background-color: #fff;
  border: 1px solid #ececec;
  border-radius: 1px;
  box-shadow: inset 0 1px #e3e3e3;
  color: #333;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  margin: 0;
  max-width: 250px;
  min-width: 150px;
  overflow: hidden;
  padding: 0 20px 0 5px;
  position: relative;
  text-overflow: ellipsis;
  z-index: 1;
  width: 100%;
  white-space: nowrap;
}

.input:after {
  color: #999;
  content: "▾";
  line-height: 1em;
  position: absolute;
  right: 10px;
  top: 25%;
}

a:hover,
a:active,
a:focus {
  text-decoration: underline;
}

.input,
.panel {
  box-sizing: border-box;
}

.email {
  margin-top: 15px;
}

.email label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

.email input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.email input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

input:not([type="checkbox"]) {
  outline: none;
}

.title {
  margin-bottom: 25px;
  margin-top: 25px;
}

.title label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

.title input[type="text"] {
  border: 1px solid #ddd;
  border-radius: 4px;
}

.title input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.suggest {
  font-size: 13px;
  margin-top: 30px;
}

.content {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

#hcWysiwyg {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  resize: vertical;
  height: 250px;
  min-height: 100px;
}

#hcWysiwyg [role="form"][aria-expanded="false"] {
  left: -100%;
}

#hcWysiwyg [role="form"] {
  background: #f5f5f5;
  border-bottom: 1px solid #ececec;
  padding: 4px 10px;
  position: absolute;
  height: 35px;
  top: 0;
  transition: left 0.2s ease-in;
  width: 100%;
  z-index: 20;
}

#hcWysiwyg [role="toolbar"] {
  border: 0;
  border-bottom: 1px solid #ddd;
  height: 35px;
  padding: 5px 10px;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#hcWysiwyg [class^="wysiwygIcon"] {
  background: transparent;
  border-radius: 4px;
  border: 1px solid transparent;
  color: #525252;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  height: 24px;
  line-height: 24px;
  margin: 0 4px;
  padding: 0 5px;
  text-align: center;
  vertical-align: middle;
  min-width: 24px;
  width: auto;
}

[class^="wysiwygIcon"],
[class*=" wysiwygIcon"] {
  background-position: center !important;
  background-repeat: no-repeat !important;
}

#hcWysiwyg [role="menu"][aria-hidden="true"] {
  display: none;
}

#hcWysiwyg [role="toolbar"] > [aria-haspopup="true"] {
  position: relative;
}

#hcWysiwyg [role="menu"] {
  position: absolute;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  left: 0;
  top: 100%;
  margin-top: 8px;
  min-width: 150px;
  padding: 5px 0;
  outline: none;
}

#hcWysiwyg [role="menu"] > [role="button"] {
  background: #fff;
  border: 0;
  border-radius: 0;
  color: inherit;
  display: block;
  height: auto !important;
  line-height: 1 !important;
  margin: 0;
  padding: 8px 20px;
  text-align: left;
  text-align: initial;
  white-space: nowrap;
}

#hcWysiwyg [role="menu"] > [role="button"][data-block="h4"] {
  font: bold normal 13px sans-serif;
}

#hcWysiwyg [role="menu"] > [role="button"][data-block="p"] {
  font: normal normal 12px sans-serif;
}

#hcWysiwyg [role="menu"] > [role="button"][data-block="h2"] {
  font: bold normal 16px sans-serif;
}

#hcWysiwyg [role="menu"] > [role="button"][data-block="h3"] {
  font: bold normal 14px sans-serif;
}

#hcWysiwyg [role="separator"] {
  border: 0;
  background: #ddd;
  width: 1px;
  height: 24px;
  display: inline-block;
  margin: 0 10px;
  vertical-align: middle;
}

.wysiwygIconFormats {
  background-image: url(https://static.zdassets.com/hc/assets/text-stroke-2901fc68f0898259656b155b6e0ba92f..svg) !important;
}

.wysiwygIconBold {
  background-image: url(https://static.zdassets.com/hc/assets/bold-stroke-c075ecfab5f51c3e3fc9b218f0bb5379..svg) !important;
}
.wysiwygIconItalic {
  background-image: url(https://static.zdassets.com/hc/assets/italic-stroke-70c33a4f2eb08e92c4317b86aa029a59..svg) !important;
}

.wysiwygIconBullist {
  background-image: url(https://static.zdassets.com/hc/assets/list-bullet-stroke-04b8bc257b35bc8f92daf5a5d7e1955f..svg) !important;
}

.wysiwygIconNumlist {
  background-image: url(https://static.zdassets.com/hc/assets/list-number-stroke-0f55516854b2cc29ed275ce293d0e1a8..svg) !important;
}

.wysiwygIconCode {
  background-image: url(https://static.zdassets.com/hc/assets/terminal-cli-stroke-1bdbc63926aa2ada431dcc1ce4ae5601..svg) !important;
}

.wysiwygIconLink {
  background-image: url(https://static.zdassets.com/hc/assets/link-stroke-7106f546349740ac359b04ed1bb73b6c..svg) !important;
}

.wysiwygIconQuote {
  background-image: url(https://static.zdassets.com/hc/assets/quote-stroke-2a6ea1ba5e86bff41a38c0f8f7d45207..svg) !important;
}

#hcWysiwyg [role="group"],
#hc-wysiwyg [role="group"] iframe {
  border-radius: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#hcWysiwyg [role="group"] {
  height: calc(100% - 35px);
}

#hcWysiwyg [role="group"] iframe {
  width: 100%;
  height: 100%;
}

#hcWysiwyg [role="group"],
#hcWysiwyg [role="group"] iframe {
  border-radius: 0;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

#hcWysiwyg [role="alert"][aria-hidden="true"] {
  display: none;
}

#hcWysiwyg [role="alert"] {
  background: #fff;
  border-top: 1px solid #ececec;
  bottom: 0;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  width: 100%;
}

input[name="contentType"] {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.agree {
  margin-top: 25px;
}

.agree label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

.agree input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.agree input[type="checkbox"] {
  width: auto;
}

.agree p {
  color: #5a6d7c;
  font-size: 12px;
  margin: 5px 0;
}

.field {
  margin-top: 25px;
}

.field label {
  display: block;
  font-size: 13px;
  margin-bottom: 5px;
}

.field .optional {
  color: #5a6d7c;
  margin-left: 4px;
}

.upload {
  border: 1px solid #ddd;
  font-size: 12px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.upload input {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.upload input:not([type="checkbox"]) {
  outline: none;
}

.upload input[type="file"] {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.upload span {
  color: #5a6d7c;
}

.upload span {
  display: inline-block;
  line-height: 24px;
  padding: 10px;
}

.upload a {
  text-decoration: none;
  font-size: 13px;
}

.form footer {
  margin-top: 40px;
  padding-top: 30px;
}

@media (min-width: 768px) {
  input[type="submit"] {
    width: auto;
  }
}

.form footer input[type="checkbox"] {
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
  background-color: rgba(91, 68, 234, 1);
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  line-height: 2.72;
  min-width: 190px;
  padding: 0 1.9286em;
  width: 100%;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/* footer */
.innerF {
  font-size: 12px;
  color: #757575;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 5%;
  display: flex;
}
